<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/prueba">Procesos</ion-item>
      <ion-item routerLink="/hv">Hoja de vida</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>ABC Jobs </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>




    <ion-list>
      <ion-list-header>
        <ion-text color="tertiary">
          <h1>What is the difference between a `list.append()` and a `list.extend()` method in Python?</h1>
        </ion-text>
      </ion-list-header>

      <ion-radio-group>
        <ion-item value="start">
          <ion-radio value="start"> </ion-radio>
          <ion-text color="medium" value="start">
            <h3>`list.append()` takes a single element as an argument and adds it to the end of the list, while `list.extend()` takes an iterable as an argument and adds all of the elements in the iterable to the end of the list.</h3>
          </ion-text>
        </ion-item>

        <ion-item value="start">
          <ion-radio value="start"> </ion-radio>
          <ion-text color="medium" value="start">
            <h3>`list.append()` takes a single elet.</h3>
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-radio value="start"> </ion-radio>
          <ion-text color="medium">
            <h3>`list.append()` takes a single element as an argument and adds it to the end of the list, while `list.extend()` takes an iterable as an argument and adds all of the elements in the iterable to the end of the list.</h3>
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-radio value="d"> </ion-radio>
          <ion-text color="medium">
            <h3>`list.append()` takes a single element as an argument and adds it to the end of the list, while `list.extend()` takes an iterable as an argument and adds all of the elements in the iterable to the end of the list.</h3>
          </ion-text>
        </ion-item>


      </ion-radio-group>
    </ion-list>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>Finalizar</ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button>Siguiente</ion-button>
      </ion-buttons>
    </ion-toolbar>


  </ion-content>
</div>
