<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/prueba">Procesos</ion-item>
      <ion-item routerLink="/hv">Hoja de vida</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>ABC Jobs </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="container-fluid">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Aspirante</ion-card-title>
          <ion-card-subtitle>Pruebas Pendientes</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/examen/1" color="success" *ngFor="let c of mispruebas">
        <ion-card-header>
          <ion-card-title>Examen de {{c.focus}}</ion-card-title>
          <ion-card-subtitle>Rol {{c.rol}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Tipo {{c.type}} </ion-card-content>
        </ion-card>


    </div>
  </ion-content>
