<app-encabezados></app-encabezados>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Programar Entrevistas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident dolores architecto esse optio at iusto mollitia ex nemo, tempora a fugit excepturi dicta vel cumque natus eaque ducimus minima! Vel!</div>
        </ion-col>
        <ion-col class="ion-padding">
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti, dignissimos voluptatibus ducimus debitis consectetur ipsa cumque dolorem nobis ad ab doloremque quis, numquam obcaecati illum soluta expedita incidunt officiis!</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding">
          <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident dolores architecto esse optio at iusto mollitia ex nemo, tempora a fugit excepturi dicta vel cumque natus eaque ducimus minima! Vel!</div>
        </ion-col>
        <ion-col class="ion-padding">
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti, dignissimos voluptatibus ducimus debitis consectetur ipsa cumque dolorem nobis ad ab doloremque quis, numquam obcaecati illum soluta expedita incidunt officiis!</div>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-content>
</div>



