<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="list-group">
      <ion-item class="list-group-item" routerLink="/internoabc/" routerLinkActive="active">Inicio</ion-item>
      <ion-item class="list-group-item" routerLink="/internoabc/agendar" routerLinkActive="active">Agendar Entrevistas</ion-item>
      <ion-item  class="list-group-item" routerLink="/internoabc/programar" routerLinkActive="active">Programar Pruebas</ion-item>
      <ion-item  class="list-group-item" routerLink="/internoabc/resultados" routerLinkActive="active">Consultar Pruebas</ion-item>
      <ion-item  class="list-group-item" routerLink="/internoabc/registrar" routerLinkActive="active">Registrar Pruebas</ion-item>
      <ion-item  class="list-group-item" routerLink="/internoabc/entrevistas" routerLinkActive="active">Consultar Entrevistas</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>






