<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="list-group">
      <ion-item class="list-group-item" routerLink="/persona/" routerLinkActive="active">Inicio</ion-item>
      <ion-item class="list-group-item" routerLink="/persona/personal" routerLinkActive="active">Datos personales</ion-item>
      <ion-item  class="list-group-item" routerLink="/persona/laboral" routerLinkActive="active">Experiencia Laboral</ion-item>
      <ion-item  class="list-group-item" routerLink="/persona/academica" routerLinkActive="active">Info Academica</ion-item>
      <ion-item  class="list-group-item" routerLink="/persona/tecnica" routerLinkActive="active">Info tecnica</ion-item>
      <ion-item  class="list-group-item" routerLink="/prueba" routerLinkActive="active">Procesos Vigentes</ion-item>
      <ion-item  class="list-group-item" routerLink="/resultados" routerLinkActive="active">Resultados</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

